@import url("https://fonts.googleapis.com/css2?family=Amita&family=Fredericka+the+Great&display=swap");

/* font-family: 'Amita', cursive;
font-family: 'Fredericka the Great', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-image: url("../assets/pizza-3007395_1920.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}
#navbar {
  background-color: #ff3f00;
}
#logo {
  font-family: "Amita", cursive;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(224, 235, 70);
}

#navBtn {
  font-size: 20px;
  font-weight: bold;
}
#showcase {
  height: 100vh;
  padding: 400px 0;
  color: rgb(224, 235, 70);
}

#showcase h1 {
  font-family: "Amita", cursive;
  font-size: 80px;
  line-height: 100px;
}

#showcase button {
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: #faff00;
}
#showcase button a,
#navBtn a {
  color: whitesmoke;
  text-decoration: none;
}

#orderSection {
  background-color: rgba(129, 0, 52, 0.9);
}
.cartItem {
  color: #0088cc;
  cursor: pointer;
}

.cartItem:hover {
  color: #f96816;
  font-weight: bold;
}
#orderOutput,
#pickupOption,
#orderChoice,
.pickupPerson,
.delivery {
  display: none;
}
#modal-body,
#modalLabel {
  color: #f96816;
}
